run:
  timeout: 5m
  tests: true

linters:
  enable:
    - errcheck
    - gosimple
    - govet
    - ineffassign
    - staticcheck
    - unused
    - gofmt
    - goimports
    - misspell
    - revive
    - gosec
    - gocritic
    - cyclop
    - dupl

linters-settings:
  cyclop:
    max-complexity: 15
  dupl:
    threshold: 100